body {
    background-color: #feffd6;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 10%;
}

input {
    width: 500px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}